.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 450px 1900px 450px;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
}

nav {
  background-color: #ffffff;
  color: #495E57;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  font-size: 12pt;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  padding-left: 300px;
  padding-right: 300px;

}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #495E57;
}

main {
  background-color: #917272;
}

header {
  background-color: #495E57;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

header .hero-column-left {
  text-align: left;
  margin-left: 290px;
}

header .hero-column-left button {
  
}

header .hero-column-right {
  text-align: center;
  margin-right: 290px;
}

header img {
  width: 400px;
  height: 300px;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

header h1 {
  color: #F4CE14;
  font-family: "Markazi Text", serif;
}
header h2 {
  color: #ffffff;
  font-family: "Markazi Text", serif;
}

header p {
  color: #ffffff;
  font-family: "Karla", sans-serif;
}

footer {
  background-color: #061127;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
