.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 450px 1900px 450px;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
}

/* nav */

nav {
  background-color: #ffffff;
  color: #495E57;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  font-size: 12pt;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  padding-left: 300px;
  padding-right: 300px;

}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #495E57;
}

/* main */

main {
  background-color: #495E57;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 700px 550px 650px;
  grid-template-areas:
    "highlights"
    "testimonials"
    "about";  }
/* main highlights */

.main .highlights {
  background-color: #ffffff;
  height: 700px;
  padding-top: 115px;
  align-self: center;
  grid-area: highlights;
}

.main .highlights-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 290px;
  margin-right: 290px;
}

.main .highlights-header h1 {
  color: #333333;
  font-family: "Karla", bold;
  text-align: left;
}

.main .highlights-header img {
  width: 48px;
  height: 48px;
}

.main .highlights-header-button {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.main .highlights-header button {
  background-color: #333333;
  color: #ffffff;
  font-family: "Karla", sans-serif;
  font-size: 20px;
  width: 220px;
  height: 48px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  border: none;
}

.main .highlights-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

/* main highlights menucard */

.menucard {
  background-color: #495E57;
  font-family:   "Karla", sans-serif;
  color:  #F4CE14;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: 200px;
  height: 450px;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.menucard .card-header {
  display: inline-flex;
  align-items: center;
  justify-content: center;

}

.menucard .card-header h2 {
  color: #F4CE14;
  font-family: "Karla", bold;
  font-size: 20px;
  text-align: center;
}

.menucard .card-dishimgage {
  width: 200px;
  height: 200px;
}

.menucard .card-dishimgage img {
  width: 100%;
  height: 100%;
}

.menucard .card-price {
  color: #F4CE14;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  text-align: left;
  max-height: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.menucard .card-description {
  color: #ffffff;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  text-align: left;
  max-width: 164px;
  max-height: 118px;
  padding-left: 20px;
  padding-right: 20px;
}

.menucard .card-button {
  padding-bottom: 20px;
  margin-top: auto;
}

.menucard .card-button button {
  background-color: #333333;
  color: #ffffff;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  width: 110px;
  height: 26px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  border: none;

}


/* main  testimonials
*/

.main .testimonials {
  background-color: #495E57;
  height: 550px;
  padding-top: 115px;
  align-self: center;
  grid-area: testimonials;
}

.main .testimonials-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 290px;
  margin-right: 290px;
}

.main .testimonials-header h1 {
  font-family: "Karla", bold;
  color: #ffffff;
  text-align: left;
}

.main .testimonials .testimonials-header button {
  background-color: #333333;
  color: #ffffff;
  font-family: "Karla", sans-serif;
  font-size: 20px;
  width: 220px;
  height: 48px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  border: none;
}

.main .testimonialcards {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.testimonialcard {
  background-color: #ffffff;
  font-family:   "Karla", sans-serif;
  color:  #333333;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: 200px;
  height: 250px;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.testimonialcard .testimonialrating h1 {
  color: #F4CE14;
  font-family: "Karla", bold;
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.testimonialcard .testimonialuser h1 {
  color: #495E57;
  font-family: "Karla", bold;
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.testimonialcard .testimonialtext p {
  color: #495E57;
  font-family: "Karla", bold;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

/* main about */

.main .about {
  background-color: #333333;
  padding-top: 140px;
}

.aboutcontainer {
  display:flex;
  gap: 40px;
  align-items: center;
}

.aboutleft {
  text-align: left;
  margin-left: 290px;
  display: flex;
  flex-direction: column;
}

.aboutright {
  margin-right: 290px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  max-height: 650px;
  max-width: 100%;
  flex-wrap: wrap;
  margin-right: 290px;
}

.image-wrapper {
  position: relative;
  height: 400px;
  width: 400px;
}

.image-main {
  height: 200px;
  width: auto;
  display: block;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.image-overlay {
  position: absolute; /* Position relative to the parent container */
  width: auto;       /* Adjust the size of the overlay image */
  height: 200px;      /* Adjust the height of the overlay image */
  top: 180px;         /* Move the overlay up (part of it outside) */
  left: 100px;        /* Move the overlay to the left (part of it outside) */
  z-index: 1;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.aboutleft h1 {
  color: #F4CE14;
  font-family: "Markazi Text", serif;
}

.aboutleft h2 {
  color: #ffffff;
  font-family: "Markazi Text", serif;
  padding-bottom: 30px;
}

.aboutleft p {
  color: #ffffff;
  font-family: "Karla", sans-serif;
}

/* header */

header {
  background-color: #495E57;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  max-height: 400px;
}

header .hero-column-left {
  text-align: left;
  margin-left: 290px;
}


header .hero-column-right {
  margin-right: 290px;
}

header img {
  width: 400px;
  height: 300px;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

header h1 {
  color: #F4CE14;
  font-family: "Markazi Text", serif;
}
header h2 {
  color: #ffffff;
  font-family: "Markazi Text", serif;
}

header p {
  color: #ffffff;
  font-family: "Karla", sans-serif;
}

header button {
  background-color: #333333;
  color: #ffffff;
  font-family: "Karla", sans-serif;
  font-size: 20px;
  width: 220px;
  height: 48px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  border: none;
}

/* footer */

footer {
  background-color: #ffffff;
  align-self: center;
  font-family: "Karla", sans-serif;
  height: 100%;
}

.footercontainer {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  color:#495E57;
  margin-left: 290px;
  margin-right: 290px;
  height: 100%;
  align-items: start;
  padding-top: 80px;
}

.footercontainer .footerlinks {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footerlinks ul {
  list-style: none;
  padding: 0;
}

.footerlinks p{
  text-align: left;
}

footer .footerlogo img{
  width: auto;
  height: 100px;
  padding-top: 30px;
}


/* other */


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
